.header, .footer{
    width: 100%;
    max-width: 1000px;
}
.container{
    width: 100%;
}
.header-inner, .footer-inner{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
}
.main-inner{
   display: flex;
   flex-direction: row;
}
.main-left{
    background-color: yellow;
    display: flex;
    width: 300px;
    height: 600px;
}
.main-right{
    background-color: red;
    display: flex;
}
img{
    height: 300px;
    width: 700px;
}