header, footer, article, nav, div {
    color: white;
}

  #pageHeader {
    grid-area: header;
    background-color:violet;
    font-size: 20px;
    text-align: center;
  }
  #pageFooter {
    grid-area: footer;
    background-color: rgb(15, 179, 170);
  }
  #mainArticle {
    grid-area: article;
    background-color: rgb(87, 28, 72);
    }
  #mainNav {
    grid-area: nav;
    background-color: rgb(19, 19, 122);
    }
  #siteAds {
    grid-area: ads;
    background-color: rgb(158, 123, 33);
    }
body {
  display: grid;
  grid-template-areas:
    "header nav article "
    "header nav ads"
    "header footer footer";
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 50% 25% 25%;
  height: 100vh;
  margin: 0;
  }
button{
    font-size: 20px;
}
