
body{
    width: 1440px;
}

/*HEADER*/

.header{
    width: 1440px;
    background-color: white;
}
.header-inner{
    width: 100%;
    height: 170px;
}
.header-top{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.header-logo{
    width: 131px;
    height: 72px;
    padding-top:17px;
    padding-bottom: 11px;
}
.header-language{
    display: flex;
    flex-direction: column;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 53px;
    display: flex;
}
.lang-ua{
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    font-weight: 400;
}
.lang-ru{
    width: 35px;
    height: 20px;
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
    background: #4AD295;
    text-align: center;
    border-radius: 2px;
    font-weight: 700;
    color:#FFFFFF; 
}
.header-cash{
    padding-top: 31px;
    padding-bottom: 27px;
    padding-left: 58px;
    font-size: 60px;
    line-height: 19px;
    color: #393939;
    font-family: 'Source Sans 3', sans-serif; 
}
.cash-inner{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #393939;
}
.header-social{
    display: flex;
    padding-top:42px ;
    padding-left: 51px;

}
.facebook{
    margin-right: 11px;
}
.instagram{
    margin-right: 16px;
}
.header-phone{
    font-family: 'Source Sans 3', sans-serif;
    flex-direction: column;
    padding-left: 52px  ;
}
.first{
    font-family: 'Source Sans 3', sans-serif; 
    margin-top: 29px; 
    font-weight: 700;

}
.second{
    font-family: 'Source Sans 3', sans-serif;
    margin-bottom: 24px; 
    font-weight: 700;
}
.header-phone-icon{
    padding-left: 15px;
    margin-top: 32px;
    margin-bottom: 29px;
}
.maistra-online{
    width: 240px;
    height: 55px;
    display: flex;
    margin-left: 61px;
    margin-top: 23px;
}
.maistra-field{
    background-color:#EFF3F6;
    width: 185px;
    height: 55px;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
}
.maistra-button{
    width: 55px;
    height: 55px;
    background-color:#DD4053;
}
.maistra-img{
    text-align: center;   
    width: 20px;
    height: 20px;
    justify-content: center;
    padding: 17.5px;
}
.tour-online{
    width: 205px;
    height: 55px;
    margin-top: 23px;
    padding-left: 30px;
    display: flex;
    
}
.tour-field{
    width: 150px;
    height: 55px;
    background-color: #EFF3F6;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    text-align: center;
}
.tour-button{
    width: 55px;
    height: 55px;
    background-color: #4AD295;
}
.tour-img{
    width: 19px;
    height: 18px;
    padding: 18px;
}
hr{
    width: 100%;
    color:#D0D0D0; 
    
}
.header-bot{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    
    
}
.header-share{
    display: flex;
    width: 19px;
    height: 18px;
    margin-left: 174px;
    padding-top: 19px;  
}
.header-nav{
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    
}
.Hotel{
    padding-left: 60px;
}
.Country{
    padding-left: 70px;
}
.Avia{
    padding-left: 69px;
}
.Katalog{
    padding-left: 70px;
}
.Agentam{
    padding-left: 56px;
}
.Onas{
    padding-left: 76px;
}
.Blog{
    padding-left: 76px;
}
.FAQ{
    padding-left: 60px;
}
.Contact{
    padding-left: 59px;
}



/* INTRO */







.container{
    width: 1440px;
}
.intro {
    width: 100%;
    height: 490px;
    position: relative;
    background: url("./header-фон.png");
}

.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    z-index: 0;
    width: 1440px;
    height: 490px;
}

.intro-inner{
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    z-index: 1;
    padding-top: 104px ;
    padding-bottom: 123px;
    padding-left: 200px;
}

.cost{ 
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;  
    width: 249px;
    height: 45px;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box; 
    padding-top: 6px;
}
.eco-hotel{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: white;
    z-index: 4;
    margin-top: 16px;
    margin-bottom: 40px;
}
.podrobnee{
    font-family: 'Source Sans 3', sans-serif;
    padding-top: 18px;
    padding-bottom: 22px;
    padding-left: 86px;
    padding-right: 85px;
    text-align: center;
    opacity: 0.8;
    font-weight: 700;
    font-size: 16px;
    background-color:#FFFFFF40;
    border:0px solid #FFFFFF;
    text-decoration: none;
    color:white;
    border-radius: 2px;   
}
.high-level{
    width: 100%;
    background-color:#F8F8F8;
    display: flex;
    flex-direction: row;
}
.vash-turoperator{
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 198px;
}
.high-level-text{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.open-world{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:#777777;
    margin-top: 15px;
    margin-bottom: 20px;
}
.intro-button{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    border-radius: 2px;
    border-right: 30px;
}
.button-what{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color:#BDBDBD;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 44px;
    padding-right: 44px;
    border: 0px solid  #BDBDBD;
    margin-right: 30px;
}
.button-konsult{
    font-family: 'Source Sans 3', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right:50px ;
    padding-left:48px ;
    color:#969696;
    border: 1px solid #969696;
}
.podhod-servis-class{
    margin-top: 37px;
    margin-left: 166px;
    margin-bottom: 38px;
}
.podhod{
    
    display: flex;
    align-items: center;
    padding-bottom:20px ;
}
.img-podhod{
    width: 20px;
    height: 20px;
}
.podhod-text{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex; 
    padding-left: 20px;
}
.podhod-pic {
    width: 45px;
    height: 45px;
    border: 1.2px dashed #969696;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ACTUAL-TOUR*/







.actual-tour-main{
    width: 100%;
}
.actual-tour-top{
    display: flex;
    padding-top: 100px;
    padding-left: 200px;
    align-items: center;
}
.tour-line{
    height: 1px;
    width: 340px;
    background: #C4C4C4; 
    margin-left: 56px;
    margin-right: 61px; 
}

.actual-tour{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 45px;
}
.all-tour{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color:#969696;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 35px;
    padding-left: 35px;
    border: 1px solid  #969696;
}
.strelka-left{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 264px;
    margin-left: 35px;
}
.strelki{
    display: flex;
    justify-content: center;
}
.strelka-right{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 264px;
    margin-left: 1px;
}
.actual-cards{
    margin-left: 35px;
    margin-top: 40px;
    margin-right: 35px;
    width: 1110px;
    height: 480px;
    display: flex;
    justify-content: space-around;
}
.actual-card{
    width: 325px;
    height: 480px;
    background-color:  #F8F8F8;

}
.card-img1{
    background: url(./mandarina\ 2.png);
    width: 327px;
    height: 250px;
}
.card-img2{
    background: url(./1491655\ 1.png);
    width: 327px;
    height: 250px;
}
.card-img3{
    background: url(./276398231\ 1.png);
    width: 327px;
    height: 250px;
}

.location{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    color:#FFFFFF;
    background: #00000059;
    opacity: 0.8;
    width: 195px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
}
.card-zagolovok{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 20px;
    height: 49px;
} 
.card-podzagolovok{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #848484;
    line-height: 24px;
    margin-top: 29px;
    margin-left: 20px;
    
}
.card-line{
    width: 280px;
    height: 1px;
    display: flex;
    justify-content: center;
    background-color:#E8E8E8;
    margin-top: 26px;
    margin-left: 20px;
}
.card-cost{
    width: 100%;
    display: flex;
    
}
.ot{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#DD4053;
    padding-top:30px;
    padding-left:20px;    
}
.euro{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color:#DD4053;
    padding-top: 23px;
    padding-left: 5px;
}
.card-bottom{
  display: flex;
  width: 100%;
}
.cost-oneday {
    width: 66%;
}
.cost-data {
    font-family: 'Montserrat', sans-serif;
    width: 33%;
    font-weight: 400;
    font-size: 12px;
    margin-top: 43px;
    margin-left: 44px;
}
.for-day{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #C9C9C9;
    margin-top: 5px;
    margin-left: 20px;
}
/*SHARE*/






.share{
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 198px;
    width: 1042px;
}
.top-line{
    height: 6px;
    width: 100%;
    background-color:#969696;
}
.share-main-info{
    width: 100%;
    height: 140px;
    background-color: #F8F8F8;
    display: flex;
}
.otkuda-text-main{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 30px;
}
.otkuda-img{
        width: 15px;
        height: 15px;
}
.otkuda-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #22222266;
    margin-left: 5px;
}
.otkuda-pole{
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid rgba(46, 46, 46, 0.2);
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 46px;
    margin-left: 30px;
    margin-top: 10px;
    opacity: 1;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.kuda-text-main{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.kuda-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #22222266;
    margin-left: 9.67px;
}
.kuda-pole{
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    border:1px solid rgba(46, 46, 46, 0.2);
    padding-top:15px;
    padding-bottom:18px;
    padding-left:20px;
    padding-right:20px;
    margin-top: 10px;
    opacity: 1;
    color: #22222266;
}
.kuda-pole-strelka{
    margin-left: 40px;
}
.data-text-main{
    display: flex;
    margin-top: 25px;
}
.data-share-img{
    width: 15px;
    height: 15px;
}
.data-text{
    margin-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #22222266;
    opacity: 1;
}
.data-pole{
    background-color: #FFFFFF;
    display: flex;
    border: 1px solid rgba(46, 46, 46, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 30px;
    margin-top: 10px;
}
.data-ot{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400px;
    color: #22222266;
    opacity: 1;
}
.data-do{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #22222266;
    opacity: 1;
    margin-left: 15px;
}
.data-strelka1{
    margin-left: 40px;
}
.data-tire{
    margin-left: 15px;
    color:#22222266;
}
.data-strelka2{
    margin-left: 40px;
}
.turist-text-main{
    display: flex;
    margin-top: 25px;
}
.turist-img{
    width: 15px;
    height: 15px;
}
.turist-text{
    margin-left: 8.56px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#22222266;
}
.turist-pole{
    border: 1px solid rgba(46, 46, 46, 0.2);
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 30px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    color: #22222266;
    opacity: 1;
}
.nochey-text-main{
    display: flex;
    margin-top: 26px;
}
.nochey-img{
    width: 15px;
    height: 15px;
}
.nochey-text{
    margin-left: 8px;
    color:#22222266;
}
.nochey-pole{
    display: flex;
    border: 1px solid rgba(46, 46, 46, 0.2);
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 6px;
}
.nochey-ot{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #22222266;
    opacity: 1;
}
.nochey-do{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #22222266;
    opacity: 1;
    margin-left: 15px;
}
.nochey-tire{
    color:#22222266;
    margin-left: 15px;
}
.nochey-strelka1{
    margin-left: 10px;
}
.nochey-strelka2{
    margin-left: 10px;
}
.buton-share{
    height: 50px;
    width: 135px;
    background-color: red;
    color: white;
    margin-top: 52px;
    margin-left: 22px;
}
.button-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size:16px ;
    text-align:center ;
    padding-top: 15px;
}
/*EMAIL*/






.email-main{
    width: 100%;
    background-color:#DD4053;
    margin-top: 50px;
}
.email-name-main{
    display: flex;
}
.email-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: white;
    margin-top:60px;
    margin-left:201px;
}
.email-podzagolovok{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size:16px;
    margin-top:60px;
    margin-left:57px;
    color: white;
}
.email-field-main{
    display: flex;

}
.email-field{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:16px;
    color:black;
    border:1px solid white;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
    padding-right:344px; 
    margin-top:34px;
    margin-left: 203px;
    margin-bottom: 59px;
}
.ya-turist-main{
    display: flex;
    margin-top: 46px;
    margin-left: 51px;
}
.ya-turagent-main{
    display: flex;
    margin-top: 46px;
    margin-left: 40px;
}
.ya-turist-img{
    width: 25px;
    height: 25px;
}
.ya-turagent-img{
    width: 25px;
    height: 25px;
}
.ya-turist-text{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.ya-turagent-text{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.button-otpravit{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border:1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 71px;
    padding-right: 72px;
    margin-top: 34px;
    margin-left: 50px;
    background-color: white;
    color:#DA2032;
    margin-bottom: 59px;
}
/*CHTO TAKOE*/











.chto-takoe-img{
    width: 100%;
    height: 450px;
    background-image: url(./GettyImages-685890576-2200x880\ 1.png);
}
.text-travel{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 200px;
    color: white;
    opacity: 30%;
    padding-top: 50px;
    padding-left: 304px;
    position: absolute;
}
.text-chto-takoe{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-top: 150px;
    padding-left: 480px;
}