.questions {
    width: 100%;
    background-color: cadetblue;
    color: cyan;
    padding-top: 10px;
    padding-left: 50px;
}
input {
    background-color: darkorchid;
    text-decoration: none;
}
.users {
    text-align: center;
    background-color: cadetblue;
}
.base {
    text-align: center;
    color: darkturquoise;
    background-color: cadetblue;
    font-size: 30px;
}