@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body{
    background:rgb(119, 199, 155);
    background: linear-gradient(90deg,rgb(17, 121, 190),rgb(139, 20, 130),rgb(188, 190, 20)) ;
    color: #fff;
}
h1{
    color:rgb(87, 211, 62);
    font-size: 19px;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

th:hover{
    color: rgb(119, 199, 155);
}
th{
    color:rgb(17, 121, 190);
}
tr{
    color:aqua;
    border: 2px solid black;
    border-top: 1px solid black;


}
td:hover{
    color: rgb(139, 20, 130);
}
table{
    border: 2px solid black;
}
td{
    border: 2px solid black;
}
