.main{
    width: 1000px;
    height: 700px;
    display: flex;
    margin: auto;
    margin-top: 100px;
    border: 2px solid turquoise;
    display: flex;
}
.info{
    width: 600px;
    height: 700px;   
}
.Left{
    width: 400px;
    height: 700px;
    background-color: turquoise;
}
.contact{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.or{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: relative;
    left: 160px;
    top: 100px;
}
.mail{
    position: relative;
    left: 160px;
    top: 120px;
    width: 300px;
    height: 35px;
}
.Name{
    width:300px;
    height: 35px;
    position: relative;
    top: 140px;
    left: 160px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    text-align: center;
    position: relative;
    top: 150px;
}
.text{
    position: relative;
    top:135px;
    left: 160px;
    display: flex;
    width: 300px;
    height: 100px;
}
.need{
    text-align: center;
    position: relative;
    top: 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.contact_me{
    display: flex;
    position: relative;
    top: 190px;
    left: 200px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: turquoise;
}
.hello{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 200px;
}
.if{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top:235px;
}
.strela{
    position: relative;
    top: 300px;
    left:150px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: turquoise;
}
::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
}
.Facebook{
        
}