@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body{
    background-color: blueviolet;
}
*{
    color: yellow;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}